body{

text-align: center;
background-color: #e3fdfd;
font-family: 'Merriweather', serif;

}

h1{
  margin: 0 auto 0 auto;
font-family: 'Sacramento', cursive;
color: #66BFBF;
font-size: 4rem;
line-height: 2;
}

.top-para{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
}

.bottom-cloud{
  position: absolute;
  left :300px;
  bottom:300px;
}

.top-cloud{

  position: absolute;
  right :300px;
  top:50px;

}
.top-container {

position: relative;
padding-top: 100px;
}

.middle-container {

  padding-top: 50px;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

h3 {
  color: #11999E;

}
a{
  color: #11999E
}

.skill-row {
width: 50%;
      margin: 100px auto 100px auto;
      text-align: left;

}

.code-img{
  width:25%;
  float: left;
margin-right: 30px;
}

.bake-img{
  width:25%;
    float: right;
    margin-left: 30px;
}
